<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <style>
       h1 {text-align: center;}
       </style>
</head>
<body>
    <h1>Add Instructions</h1>
    <form method="POST">
        {% csrf_token %}
        <textarea name="instructions" id="inst" cols="100" rows="10" placeholder ="Write instructions here ..." ></textarea>    

        <button type="submit" class="submitb">Update Instructions</button>

    </form>
</body>
</html>