<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <style>
       h1 {text-align: center;}
       </style>
</head>
<body>
    <h1>Add Instructions</h1>
    <form method="POST">
        {% csrf_token %}
        <input type = "text"  name="inst_1" id="inst_1" placeholder ="Write instructions here ..." >
        <input type = "text"  name="inst_2" id="inst_2" placeholder ="Write instructions here ..." >
        <input type = "text"  name="inst_3" id="inst_3" placeholder ="Write instructions here ..." >
        <input type = "text"  name="inst_4" id="inst_4" placeholder ="Write instructions here ..." >
        <input type = "text"  name="inst_5" id="inst_5" placeholder ="Write instructions here ..." >

        <button type="submit" class="submitb">Update Instructions</button>

    </form>
</body>
</html>