<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aim2Crack-Assignment</title>
</head>
<body>
    <h1>{{assign.assignment_name}}</h1>

    <a href='instructions/' id="instructions">
        <i class='bx bxs-edit-alt'></i>
        <p>Add Instruction</p>
    </a>
        <p class="instructive_text2">These instructions will be shown to the student before start of exam.</p>
    
    
</body>
</html>